$c-menu: #386641;
$c-menu-hover: #6A994E;
$c-section-dark: #DFEBC1;
$c-section-light: #fdfff6;
$c-button: #BC4749;
$c-button-hover: #8f3032;
$c-font: #05200b;

$spacer: 30px;

$font-basic: 'Nunito', sans-serif;
$font-special: 'Amatic SC', cursive;